.Game {
  max-width: 1100px;
  margin: 45px auto 50px auto;
}

.Table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 450px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.elementRemoved,
.elementAwaited {
  border: 1px solid #9dd6df;
  width: 65px;
  height: 65px;
  font-size: 20px;
  padding: 5px;
  line-height: 3.5;
  transition: all 0.3s;
  cursor: pointer;
}
.elementRemoved,
.elementAwaited:hover {
  background-color: #f9f9f9;
}

.elementRemoved {
  background-color: #dfbb9d;
}

.elementAwaited {
  background-color: #f7e2d6;
}

.Timer {
  margin-top: 60px;
  font-size: 18px;
  text-align: left;
}

.Button {
  margin-bottom: 30px;
  padding: 10px 35px;
  font-size: 20px;
  background-color: #a084cf;
  border-radius: 5px;
  color: #fff;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.ButtonDisabled {
  margin-bottom: 30px;
  padding: 10px 35px;
  font-size: 20px;
  background-color: #a084cf;
  border-radius: 5px;
  color: #fff;
  border: none;
  transition: all 0.3s;
  cursor: not-allowed;
  opacity: 0.5;
}
