.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9dd6df;
  padding: 20px;
}

h2 {
  cursor: pointer;
  margin: 0 30px;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 25px;
}

h2:hover {
  color: #a084cf;
}
