.App {
  text-align: center;
  font-family: sans-serif;
}

.Info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 900px;
  margin: 45px auto 50px auto;
}

.Options {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Options li {
  border-bottom: 1px solid rosybrown;
  margin: 5px;
  padding: 5px;
}
